* {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    font-weight: lighter;
    /* border: solid grey 1px; */
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.game {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 200px;
}

#titleImg {
    height: 75%;
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-image: url('imgs/title.jpg');
    background-size: contain;
    background-repeat: no-repeat;
}

#titleImg:hover {
    background-image: url('imgs/titleAnimation.jpg');
}

.scoreBoard {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 70px;
}

#both {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 15%;
    margin-right: 10px;
}

.gamebox {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: center;
    height: 450px;
    width: 100%;
}

.box1, .box2, .box3 {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 33.333%;
    align-items: center;
    background-image: url('imgs/tower.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#track {
    height: 50%;
    width: 50%;
}

.discs1, .discs2, .discs3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: 80%;
    height: 83%;
    position: relative;
}

#disc1 {
    width: 100%;
    height: 15%;
}

#disc2 {
    width: 85%;
    height: 15%;
}

#disc3 {
    width: 70%;
    height: 15%;
}

#disc4 {
    width: 55%;
    height: 15%;
}

#disc1:hover, #disc2:hover, #disc3:hover, #disc4:hover {
    filter: saturate(70%);
    opacity: 0.95;
}

#holder {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 27%;
    margin-right: 21%;
}

#instr {
    height: 100%;
    width: 15%;
    margin-right: 17%;
    background-image: url('imgs/instructions.jpg');
    background-size: contain;
    background-repeat: no-repeat;
}

#instr:hover {
    background-image: url('imgs/instructionsAn.jpg');
}